[build]
  command = "pnpm install && pnpm build"
  publish = "."

[[redirects]]
  from = "/api/*"
  to = "/.netlify/functions/server/:splat"
  status = 200

[[redirects]]
  from = "/*"
  to = "/public/index.html"
  status = 200

[build.environment]
  NODE_VERSION = "18"
